In [18]:
# import pandas as pd

# # mployee_names = ['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson']

# # print(type(employee_names))


# employee_names = ['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson']
# employee_names_Series = pd.Series(employee_names)
# print(employee_names_Series)

# last_rows = employees_work_exp.tail()
# print(last_rows)


import pandas as pd

names = pd.Series(["Amy White", "Jack Stewart", "Richard Lauderdale", "Sara Johnson"])
age = pd.Series([50, 53, 35, 43])
working_experience_yrs = pd.Series([5, 8, 3, 10])

data = {
    "Names": names,
    "Age": age,
    "Working_experience_yrs": working_experience_yrs
}

df = pd.DataFrame(data)

print(df)


# import pandas as pd

# employees_work_exp = pd.Series({
# 'Amy White'   : 3,
# 'Jack Stewart'   : 5,
# 'Richard Lauderdale'  : 4.5,
# 'Sara Johnson'  : 22,
# 'Patrick Adams' : 28,
# 'Jessica Baker'  : 14,
# 'Peter Hunt'   : 4,
# 'Daniel Lloyd'  : 6,
# 'John Owen'   : 1.5,
# 'Jennifer Phillips'  : 10,
# 'Courtney Rogers'   : 4.5,
# 'Anne Robinson'  : 2,
# })

# top_5 = employees_work_exp.sort_values(ascending = False).head(5)
# print(top_5)

                Names  Age  Working_experience_yrs
0           Amy White   50                       5
1        Jack Stewart   53                       8
2  Richard Lauderdale   35                       3
3        Sara Johnson   43                      10